<!DOCTYPE html>
<html>

<head>
  <title>Rails Payments</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag "https://uploads-ssl.webflow.com/5d5c1bdef4660a3fa423c843/5d65b2d1b0726438b2c230e2_favicon-32x32.png" %>
</head>

<body>
  <%= yield %>
</body>

</html>